html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* 헤더부분 */

#header {
  font-size: 14px;
  border-bottom: solid 0.5px rgb(225, 225, 225);
  position: relative;
}
/* 로고 */

.head {
  display: flex;
  /* text-align: center; */
  position: relative;
  width: 1060px;
  height: 50px;
  margin: 0 auto;
  justify-content: space-between;
  /* align-items: center; */
}
#Wanted {
  font-size: 20px;
  font-weight: bold;
  margin: 15px 0;
}
/* 목록 */

.list6 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
#list ul {
  height: 50px;
}

.list6 a {
  padding: 15px;
  text-decoration: none;
  color: black;
}
/* 쓰리 */

#three {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
#three img,
#three a {
  padding: 0 10px;
  text-decoration: none;
  color: black;
}
#eheqhrl img {
  padding-right: 10px;
  border-right: solid 0.5px dimgrey;
}
#login a {
  font-weight: bold;
}

#radius {
  border: solid gray 0.5px;
  font-size: 13px;
  border-radius: 100px;

  padding: 5px 0;
}

/* 콘텐츠 */
#contants {
  height: 550px;
  background-size: cover;
  background-image: url("main_kr_pc.jpeg");
  background-position: -65px;
}
#content {
  display: block;
  width: 940px;
  height: 226px;
  justify-content: center;
  align-items: center;
}
#content h1 {
  font-size: 48px;
  line-height: 62px;
  margin-bottom: 20px;
}
