html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* 헤더부분 */

#header {
  width: 100%;
  font-size: 14px;
  border-bottom: solid 0.5px rgb(225, 225, 225);
  background-color: #fff;
  position: fixed;
}
/* 로고 */

.head {
  display: flex;
  /* text-align: center; */
  position: relative;
  width: 1060px;
  height: 50px;
  margin: 0 auto;
  justify-content: space-between;
  /* align-items: center; */
}
#Wanted {
  font-size: 20px;
  font-weight: bold;
  margin: 15px 0;
}
/* 목록 */

.list6 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
#list ul {
  height: 50px;
}

.list6 a {
  padding: 15px;
  text-decoration: none;
  color: black;
}
/* 쓰리 */

#three {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
#three img,
#three a {
  padding: 0 10px;
  text-decoration: none;
  color: black;
}
#eheqhrl img {
  padding-right: 10px;
  border-right: solid 0.5px dimgrey;
}
#login a {
  font-weight: bold;
}

#radius {
  border: solid rgb(206, 202, 202) 0.5px;
  font-size: 13px;
  border-radius: 100px;

  padding: 5px 0;
}
#radius a {
  color: rgb(104, 102, 102);
}

/* 콘텐츠 */
#main_content {
  height: 100%;
}
/* 첫번째 배경 */
#contents {
  height: 550px;
  background-size: cover;
  background-image: url("main_kr_pc.jpeg");
  background-position: -65px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#content1 {
  width: 940px;
  height: 266px;
}
#content1 h1 {
  font-size: 48px;
  line-height: 62px;
  margin-bottom: 20px;
  font-weight: 600;
}
#content1 h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 30px;
}
#content1 button {
  width: 230px;
  height: 64px;
  border-radius: 32px;
  border: 0;
  background-color: #3a68f9;
  color: #fff;
  font-size: 20px;
}
/* 두번째 배경 */
#contents2,
#content2 {
  width: 1792px;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content2 .img1 {
  width: 530px;
  height: 380px;

  background-image: url("001.jpeg");
  background-size: cover;
}
#content2 .naeyong1 {
  width: 470px;
  height: 380px;
  padding-left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#content2 h1 {
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 20px;
  font-weight: 600;
}

#content2 h3 {
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
}

/* 세번째 배경 */
#contents3,
#content3 {
  width: 1792px;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content3 .img2 {
  width: 530px;
  height: 380px;

  background-image: url("002.jpeg");
  background-size: cover;
}
#content3 .naeyong2 {
  width: 470px;
  height: 380px;
  padding-left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#content3 h1 {
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 20px;
  font-weight: 600;
}

#content3 h3 {
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
}

/* 네번째 배경 */

#contents4,
#content4 {
  width: 1792px;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content4 .img3 {
  width: 530px;
  height: 380px;

  background-image: url("003.jpeg");
  background-size: cover;
}
#content4 .naeyong3 {
  width: 470px;
  height: 380px;
  padding-left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#content4 h1 {
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 20px;
  font-weight: 600;
}

#content4 h3 {
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
}

/* 다섯번째 배경 */

#contents5 {
  width: 1792px;
  height: 520px;
}
#content5 {
  height: 380px;
  padding-top: 140px;
  background-image: url("foot_pc.jpeg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#content5 .naeyoung4 {
  text-align: center;
}

.naeyoung4 h1 {
  width: 100%;
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 20px;
  font-weight: 600;
  color: #fff;
  justify-content: center;
}

.naeyoung4 h3 {
  width: 100%;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 30px;
  font-weight: 500;
  color: #fff;
}

#content5 button {
  padding: 0;
  width: 230px;
  height: 64px;
  border-radius: 32px;
  border: 0;
  background-color: #3a68f9;
  color: #fff;
  font-size: 20px;
}

/* 푸터 */

#footer {
  width: 100%;
  height: 146px;
  padding: 30px 0 70px 0;
  background-color: #2b2d2e;
}
